/* .titleDiv {
  font-size: 30px;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  #name {
    color: red;
    margin: 0;

  }

  #portfolio {
    color: blue;
    margin: -10px;
  }
}
 */