$primary-color: #4caf50;
$button-bg-color: $primary-color;
$button-hover-bg-color: darken($primary-color, 10%);
$input-border-color: #ccc;
$input-focus-border-color: $primary-color;

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  img {
    width: 130px;
    border-radius: 50%;
    margin-bottom: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 15px;
  }

  textarea,
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Rubik', monospace;
    height: 150px;
    resize: vertical;

    &:focus {
      outline: none;
      border-color: $input-focus-border-color;
    }
  }

  input {
    height: 40px;
  }

  button[type='submit'] {
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

.success-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.spinner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1024px) {
  .contact-form {
    margin-top: 10px;
    width: 1100px;
    flex-direction: row;
    justify-content: space-around;
    img {
      width: 280px;
    }
    form {
      gap: 10px;
      width: 50%;
      textarea {
        height: 120px;
      }
    }
  }
}
