:root {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --secondary-color: #03a9f4;
  --accent-color: #6200ea;
}

.mainMobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-color); // Dark background
  color: var(--text-color);
  padding: 15px;
  gap: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
  overflow-y: hidden;
  z-index: 9999;

  .image {
    border-radius: 50%;
    align-self: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    .navDiv {
      padding: 10px 20px;
      background-color: #162129;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--secondary-color); // Cyan background on hover
        color: #fff; // White text on hover
        transform: scale(1.05);
      }

      h2 {
        margin: 0;
        color: #e0e0e0;
      }
    }

    .active {
      background-color: var(--secondary-color);
      color: #333;
      transform: scale(1.05);
    }
  }
}

.mainClose {
  display: none;
}

.hamburger-react {
  position: fixed !important;
  top: 35px;
  right: 20px;
  background-color: var(--secondary-color); // Matches nav item background
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.6);
  transition: all 0.1s ease-in-out;
  z-index: 9999;
}

.translator {
  @extend .hamburger-react;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  top: 100px;
  gap: 3px;
}

.theme-mobile {
  @extend .translator;
  top: 168px;
}

.mainLaptop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .mainMobile,
  .hamburger-react {
    display: none;
  }

  .tools {
    display: flex;
    gap: 10px;
  }

  .translator-laptop {
    top: 35px;
    right: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.6);
    transition: all 0.1s ease-in-out;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    gap: 3px;
    cursor: pointer;
  }

  .mainLaptop {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
    z-index: 10000;
    box-shadow: 105px 0 5px 2px rgba(0, 0, 0, 0.8);

    .navDiv {
      padding: 5px 10px;
      background-color: #162129;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);  /* Ombra leggera bianca */

      &:hover {
        background-color: var(--secondary-color); // Cyan background on hover
        color: #fff; // White text on hover
        transform: scale(1.05);
      }

      h2 {
        margin: 0;
        font-size: 1.2rem;
      }
    }

    .active {
      background-color: var(--secondary-color);
      color: #fff;
      transform: scale(1.05);
    }

    .translator {
      margin-top: 20px;
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}

.fullName {
  color: #ffd700;
  font-size: 1.6rem;
  font-weight: bold;
}
