@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.tabs-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #121212;
  padding: 10px;
  z-index: 9997;
  position: fixed;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  border-radius: 30px;
  width: 80%;
  max-width: 700px;
  height: 50px;

  transition: all 0.3s ease-in-out;
  text-wrap: nowrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tab-link {
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  background-color: #162129;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.active {
  background-color: #03a9f4;
}

.tabs-container,
.tab-link {
  touch-action: manipulation;
}

@media only screen and (min-width: 1024px) {
  .tabs-container {
    left: 0;
    width: 100px;
    height: 100%;
    display: flex;
    transform: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
    border-radius: 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.8);
    z-index: 0;
  }

  .tabs {
    flex-direction: column;
    height: fit-content;
    background-color: transparent;
    margin: 0;
    box-shadow: none;
  }

  .tab-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5); /* Ombra leggera bianca */
  }

  .tabs-container-light {
    .tabs {
      background-color: #f5f5f5;
      box-shadow: none;
    }
  }
}
