
.tabs-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 9997;
  border-radius: 15px;
  background-color: #121212;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  background-color: #333;
  border-radius: 30px;
  width: 80%;
  max-width: 700px;
  height: 45px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  text-wrap: nowrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tabs:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Aggiungi un effetto hover sul contenitore */
}

.tab-link {
  width: 100%;
  padding: 8px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  background-color: transparent; /* Default */
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
}

.tab-link {
  outline: none; /* Rimuove il contorno */
  -webkit-tap-highlight-color: transparent; /* Rimuove il flash su dispositivi touch */
}

.tab-link:focus {
  outline: none; /* Evita che il focus venga visualizzato */
}

.tab-link:active {
  background-color: transparent; /* Evita che cambi il colore al clic */
  transform: none; /* Evita trasformazioni */
}

.active{
  background-color: #03a9f4; /* Cambia il colore di sfondo quando il link eÌ€ attivo */
}

.tabs-container, .tab-link {
  touch-action: manipulation; /* Rimuove il ritardo */
}
