// Variables
$bg-color: #121212;
$text-color: #e0e0e0;
$secondary-color: #03a9f4;
$accent-color: #6200ea;

// Main Container

.content {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 120px;

  .aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.copied {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  margin-left: 10px;
}

.aboutDescription {
  background: #2e333b;
  border-radius: 8px;
  width: 95%;
  max-width: 900px;
  padding: 1.8rem;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    font-size: 15px;
    color: $text-color;
    line-height: 1.7;
    font-weight: 300;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  img {
    width: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;

    .contacts {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .mainAbout h1 {
      display: none;
    }

    .profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;

      img {
        width: 200px;
      }
    }
  }


}
