:root {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --secondary-color: #03a9f4;
  --accent-color: #6200ea;
  --name: #ffd700;
  --shadow: rgba(0, 0, 0, 0.8);
  --date: #fff;
  --aboutDescription: #2e333b;
  --mainAbout: #6200ea;
  --form: rgb(22, 33, 41);
  --titles: #ffd700;
}

[data-theme='light'] {
  --bg-color: #f5f5f5;
  --text-color: #333;
  --accent-color: #6200ea;
  --name: #333;
  --shadow: rgba(0, 0, 0, 0.2);
  --date: #333;
  --aboutDescription: #e6954e;
  --mainAbout: #333;
  --form: #e6954e;
  --titles: #e0e0e0;
}

.mainAbout {
  h1 {
    color: var(--mainAbout);
  }
}

.tabs-container {
  background-color: var(--bg-color);
}

html {
  background-color: var(--bg-color);
}

.fullName {
  color: var(--name);
}

#skills-h3 {
  color: var(--name);
}

.aboutDescription {
  background: var(--aboutDescription);
  p {
    color: var(--text-color);
  }
  h2{
    color: var(--titles);
  }
}

.project-card{
  background-color: var(--aboutDescription);
  h3{
    color: var(--titles);
  }
}

.contact-form{
  background-color: var(--form);
  h2{
    color: var(--titles);
  }
  label{
    color: var(--text-color);
  }
  button[type="submit"]{
    background-color: var(--secondary-color);
    color: var(--text-color);
  }
}

@media only screen and (min-width: 1024px) {
  .mainLaptop {
    background-color: var(--bg-color);
    box-shadow: 105px 0 5px 2px var(--shadow);
  }
  .tabs-container {
    background-color: var(--bg-color);
    box-shadow: 0 0 5px 2px var(--shadow);
  }
  .custom-date {
    color: var(--date);
  }
}
