.mainWork {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 150px;
  cursor: url('../../images/cursor2.svg'), auto;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  float: none;
}

.vertical-timeline-element-title {
  text-transform: uppercase !important;
}

.infoIcon {
  position: absolute;
  top: 4px;
  right: 8%;
  transform: translateX(50%);
  font-size: 30px;
  cursor: pointer;
}

.vertical-timeline::before {
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: -1 !important;
}

.vertical-timeline-element-icon.shadow-size-small {
  display: none !important;
}

.vertical-timeline-element-content {
  text-align: center;
  margin-left: 0;
}

.vertical-timeline {
  width: 80% !important;
}

.tooltip-works {
  padding: 30px;
}

@media only screen and (min-width: 1024px) {
  .mainWork {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0px;
    margin-top: 40px;
    height: 100%;
  }
  .vertical-timeline-element-content {
    width: 40%;
  }

  .vertical-timeline-element:nth-child(odd) .vertical-timeline-element-content {
    margin-left: 0;
  }

  .vertical-timeline-element:nth-child(even) .vertical-timeline-element-content {
    margin-left: auto;
  }
}
